// COLORS
//// PRIMARY
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
//// NEUTRAL
////// paragraphs
$transparent-white: hsla(0, 0%, 100%, 0.75);
////// background, headings, buttons
$very-light-gray: hsl(0, 0%, 95%);

$font-size: 15px;

$ffamily-main: 'Lexend Deca', sans-serif;
$fw-main-regular: 400;
$ffamily-headings: 'Big Shoulders Display', cursive;
$fw-headings-bold: 700;